version: 2
updates:
  - package-ecosystem: uv
    directory: /
    groups:
      uv-deps:
        patterns:
          - "*"
    schedule:
      interval: monthly
    cooldown:
      default-days: 14
  - package-ecosystem: github-actions
    directory: /
    groups:
      actions:
        patterns:
          - "*"
    schedule:
      interval: monthly
    cooldown:
      default-days: 14
